[Unit]
Description=tinyGW Service
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/www/wwwroot/tinyGW
ExecStart=/www/wwwroot/tinyGW/zsxagw
Restart=always
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
